# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
vevn/
env/

# Windows artifacts
nul

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python egg info
*.egg-info/
dist/
build/

# Logs
*.log

demo.py
